<md-content class="Page-Container" ng-controller="SpecialtyDetailsController as vm">
  <h1 class="md-title">Администрирование учебных специальностей</h1>
  <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button ng-href="specialties" aria-label="back">
          Назад
        </md-button>
        <h2>
          <span>Просмотр учебной специальности: {{ vm.specialty.code }}</span>
        </h2>
        <span flex></span>
      </div>
    </md-toolbar>
  <h2 class="md-title">Основные данные:</h2>
  <h3 class="md-subhead">Код специальности: {{ vm.specialty.code }}</h3>

  <h2 class="md-title">Взводы, обучающиеся по данной специальности:</h2>
  <md-chips>
      <md-chip ng-repeat="troop in vm.specialty.troops.data">{{ troop.code }}</md-chip>
  </md-chips>

  <h2 class="md-title">Дисцилины, прикрепленные к данной специальности</h2>
  <md-chips>
      <md-chip ng-repeat="discipline in vm.specialty.disciplines.data">{{ discipline.short_name }}</md-chip>
  </md-chips>
</md-content>
