<md-input-container class="md-block" flex-gt-sm>
  <label>Имя преподавателя</label>
  <input ng-model="vm.teacher.name">
</md-input-container>
<md-input-container class="md-block" flex-gt-sm>
  <label>Воинское звание</label>
  <md-select ng-model="vm.teacher.military_rank">
          <md-option ng-repeat="rank in vm.ranks">
            {{ rank }}
          </md-option>
  </md-select>
</md-input-container>
<md-input-container class="md-block" flex-gt-sm>
  <label>Максимальная нагрузка на преподавателя в семестр (в часах)</label>
  <input ng-model="vm.teacher.work_hours_limit">
</md-input-container>
<div ng-if="!teacher">
  <md-button class="md-raised" ng-click="vm.create()">Создать преподавателя</md-button>
</div>
<div ng-if="teacher">
  <md-button class="md-raised" ng-click="vm.update()">Обновить преподавателя</md-button>
  <md-button class="md-raised md-warn" ng-click="vm.delete()">Удалить преподавателя</md-button>
</div>
