<div ng-controller="HeaderController as vm">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button ng-click="vm.toggle()" class="md-raised">
				Навигация
			</md-button>
		</div>
	</md-toolbar>

	<md-sidenav md-component-id="sidebar" md-is-open="vm.sidebar_is_opened">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2 class="md-subhead">Расписание</h2>
			</div>
		</md-toolbar>
		<md-content>
			<md-list>
				<md-list-item class="secondary-button-padding" ng-repeat="item in vm.menuItems" ng-click="vm.toggle();vm.go(item)">
					<h4 class="md-subhead">{{ item.text }}</h4>
				</md-list-item>
			</md-list>
		</md-content>
	</md-sidenav>
</div>
