  <md-input-container class="md-block" flex-gt-sm>
    <label>Название специальности</label>
    <input ng-model="vm.specialty.name">
  </md-input-container>
  <md-input-container class="md-block" flex-gt-sm>
    <label>Код специальности</label>
    <input ng-model="vm.specialty.code">
  </md-input-container>
  <div ng-if="!specialty">
    <md-button class="md-raised" ng-click="vm.create()">Создать специальность</md-button>
  </div>
  <div ng-if="specialty">
    <md-button class="md-raised" ng-click="vm.update()">Обновить специальность</md-button>
    <md-button class="md-raised md-warn" ng-click="vm.delete()">Удалить специальность</md-button>
  </div>
